/*Control global variables here*/
:root {
	/* Layout */
	--page-width: 800px;
	--content-padding: 2rem;

	/* Typography */
	--heading-text-size: 24pt;
	--menu-item-size: 18pt;
	--text-size: 14pt;
	--line-height: 1.4;

	/* Colours */
	--background-colour: #110b1e;
	--foreground-colour: #110b1e;
	--text-colour: #F4D8CD;
	--link-colour: #EE4266;
	--background-colour-light: color-mix(in hsl, var(--background-colour), white 6%);

	/* Borders */
	--border-thickness: 2px;
	--border-radius: 4px;
}

/*End global variables*/

/*Begin private styles*/
/* Desktop */
body {
	font-family: 'Fira Code', novel-mono-pro, monospace;
	background-color: var(--background-colour);
	color: var(--text-colour);
	font-size: var(--text-size);
	font-weight: 100;
	line-height: var(--line-height);
	margin: 0;
}

h1,
h3 {
	font-weight: 300;
}

h2 {
	font-weight: 400;
	font-size: 18pt;
}

.letterhead svg {
	width: 2rem;
	height: auto;
	vertical-align: middle;
}

.letterhead a svg * {
	fill: var(--link-colour);
}

a {
	color: var(--link-colour);
}

hr {
	height: 0px;
	border: solid calc(var(--border-thickness) / 2) var(--link-colour);
	border-radius: var(--border-radius);
}

.title {
	font-size: var(--heading-text-size);
}

.page-width {
	width: var(--page-width);
	margin: auto;
}

.maincontainer {
	padding: var(--content-padding);
	background-color: var(--foreground-colour);
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.maincontainer section {
	/*border: var(--border-thickness) solid var(--link-colour);*/
	border-radius: var(--border-radius);
	/* padding: 2rem 0; */
}

.maincontainer section#article {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.maincontainer section h2 {
	padding: 0.5rem;
	/* text-decoration: underline; */
	background-color: var(--link-colour);
	color: var(--background-colour);
	border-radius: var(--border-radius);
}

/* #article h1 {
	margin-top: 2rem;
} */

img {
	border-radius: 32px;
	box-shadow: 0px 4px 4px black;
	background-color: var(--background-colour-light);
}

#article img,
sub {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: calc(var(--content-padding) / 2);
}

.cropped {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0px 4px 4px black;
	background-color: var(--background-colour-light);
}

footer {
	display: flex;
	flex-direction: column;
	flex: 0;
}

.copyright {
	display: block;
	color: var(--link-colour);
	font-size: 10pt;
}

/* Mobile */
@media screen and (max-width: 749px) {
	.page-width {
		width: 100%;
	}

	.maincontainer {
		padding: calc(var(--content-padding) / 1.5);
	}

	.letterhead {
		justify-content: center;
	}

	#Home {
		display: none;
		margin: 0;
	}

	#article img,
	sub {
		width: calc(100% - var(--content-padding));
	}

	.material-icons {
		font-size: 24pt;
	}
}

/*End private styles*/