.letterhead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Logo */
.letterhead img {
  width: 2rem;
}
.letterhead>* {
  margin: 0 1rem 0 0;
}
.letterhead a {
  text-decoration: none;
  color: var(--text-colour);
}